* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}
body {
  margin: auto;
}

::-webkit-scrollbar {
  width: 4px;
  height: 3px;
}
::-webkit-scrollbar-thumb {
  background-color: hsl(213, 96%, 18%);
  border-radius: 20px;
}
::-webkit-scrollbar-track {
  background-color: hsl(231deg 11% 63% / 24%);
}
